{% extends 'AppBundle::base.html.twig' %}

{% block body %}
<div><h1>Welcome to Recycle Batteries application</h1></div>
<div><span>Click <a href="/batterypack/new">here</a> to add new batteries</span></div>
<div><span>Statistics:</span></div>
<div>
<table border="1">
    <tr>
        <td>Battery Type</td>
        <td>Total Count</>
    </tr>
    {% for item in items %}
    <tr>
        <td>{{item.type}}</td>
        <td id="{{item.type}}">{{item[1]}}</>
    </tr>
    {% endfor %}
</table>
</div>
{% endblock %}
